:root {
  --md-sys-shape-corner-small: 4px;
  --md-sys-shape-corner-medium: 8px;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-extra-large: 28px;
  --md-sys-color-primary: 151 140 177;
  --md-sys-color-surface-tint: 151 140 177;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 246 217 255;
  --md-sys-color-on-primary-container: 91 57 108;
  --md-sys-color-secondary: 104 89 109;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 240 220 244;
  --md-sys-color-on-secondary-container: 80 66 85;
  --md-sys-color-tertiary: 129 82 81;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 255 218 217;
  --md-sys-color-on-tertiary-container: 102 59 59;
  --md-sys-color-error: 186 26 26;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 255 218 214;
  --md-sys-color-on-error-container: 147 0 10;
  --md-sys-color-background: 255 247 252;
  --md-sys-color-on-background: 30 26 31;
  --md-sys-color-surface: 255 247 252;
  --md-sys-color-on-surface: 30 26 31;
  --md-sys-color-surface-variant: 234 223 234;
  --md-sys-color-on-surface-variant: 76 68 77;
  --md-sys-color-outline: 125 116 126;
  --md-sys-color-outline-variant: 206 195 206;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 52 47 52;
  --md-sys-color-inverse-on-surface: 248 238 246;
  --md-sys-color-inverse-primary: 227 183 244;
  --md-sys-color-primary-fixed: 246 217 255;
  --md-sys-color-on-primary-fixed: 45 11 62;
  --md-sys-color-primary-fixed-dim: 227 183 244;
  --md-sys-color-on-primary-fixed-variant: 91 57 108;
  --md-sys-color-secondary-fixed: 240 220 244;
  --md-sys-color-on-secondary-fixed: 35 23 40;
  --md-sys-color-secondary-fixed-dim: 212 192 216;
  --md-sys-color-on-secondary-fixed-variant: 80 66 85;
  --md-sys-color-tertiary-fixed: 255 218 217;
  --md-sys-color-on-tertiary-fixed: 51 17 18;
  --md-sys-color-tertiary-fixed-dim: 245 183 182;
  --md-sys-color-on-tertiary-fixed-variant: 102 59 59;
  --md-sys-color-surface-dim: 225 215 223;
  --md-sys-color-surface-bright: 255 247 252;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 251 241 248;
  --md-sys-color-surface-container: 245 235 243;
  --md-sys-color-surface-container-high: 239 229 237;
  --md-sys-color-surface-container-highest: 233 224 231;
}
