# Отчет о валидации документации (2025-05-14T22:47:03.982Z)

Всего найдено проблем: 5

## Placeholder Found в `docs\decisions\YYYYMMDD-template-adr.md`
* Строка: 4
* Сообщение: Найден маркер "XXX": -   **Статус:** [Предложено | Принято | Отклонено | Устарело | Заменено ADR-XXX]

## Broken Link в `docs\README.md`
* Сообщение: Ссылка "[Документация API](./api/)" указывает на несуществующий файл: docs\api

## Metadata Error в `project-metadata.yaml`
* Сообщение: Компонент 'CoreApplicationPages': указанный 'docs' (./docs/architecture.md#2-основные-компоненты-и-их-взаимодействие) не существует.

## Metadata Error в `project-metadata.yaml`
* Сообщение: Компонент 'APILayer': указанный 'docs' (./docs/architecture.md#2-основные-компоненты-и-их-взаимодействие) не существует.

## Metadata Error в `project-metadata.yaml`
* Сообщение: Компонент 'DataModels': указанный 'docs' (./docs/architecture.md#2-основные-компоненты-и-их-взаимодействие) не существует.

